<div id="main" class="relative w-full h-screen">
    <div id="top" class="absolute w-full h-[50vh] bg-[#EDE8E3]">
        <h2 id="top-h" class="absolute top-1/2 left-1/2 -translate-1/2 text-[20vw] font-bold bottom-1/2 text-[#774F4F]">DISEÑO</h2>
    </div>
    <div id="center" class="w-full h-screen bg-[#774F4F]">
    </div>
    <div id="bottom" class="absolute bottom-0 w-full h-[50vh] bg-[#EDE8E3] overflow-hidden">
        <h2 id="bottom-h" class="absolute top-1/2 left-1/2 -translate-1/2 text-[20vw] font-bold text-[#774F4F]">DISEÑO</h2>
    </div>
</div>


<style>
    #bottom-h{
        top: 4.7% !important;
    }
</style>

<script>
    import { gsap } from 'gsap'
    import { ScrollTrigger } from 'gsap/ScrollTrigger'

    gsap.registerPlugin(ScrollTrigger);

    const tl = gsap.timeline({
        scrollTrigger:{
            trigger: '#main',
            start: '50% 50%',
            end: '100% 50%',
            scrub: 2,
            pin: true
        }
    })
    tl.to('#top', {
        top: '-100%'
    }, 'a')
    .to('#bottom', {
        bottom: '-100%'
    }, 'a')
    .to('#top-h', {
        top: '80%'
    })
    .to('#bottom-h', {
        bottom: '-80%'
    })
</script>