<section class="bg-[#EDE8E3]">
	<div
		class="flex flex-col max-w-[1200px] m-auto items-center justify-center p-10"
	>
		<div class="flex flex-col items-center justify-center gap-5">
			<h2
				class="text-3xl sm:text-4xl md:text-7xl text-[#774F4F] font-archive text-center"
			>
				DISEÑOS QUE COMUNICAN
			</h2>
			<p
				class="text-xl sm:text-2xl md:text-3xl font-arialnova text-[#774F4F] text-center"
			>
				Transformamos ideas en piezas visuales que transmiten el valor de tu
				marca
			</p>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10 w-full">
			<div class="relative group h-96 rounded-xl overflow-hidden shadow-sm">
				<div
					class="absolute inset-0 bg-center bg-cover transition-transform duration-500 group-hover:scale-110"
					style="background-image: url('/assets/graphic-design/maria-paula-ntotsikas.jpg');"
				>
				</div>
			</div>
			<div class="relative group h-96 rounded-xl overflow-hidden shadow-sm">
				<div
					class="absolute inset-0 bg-center bg-cover transition-transform duration-500 group-hover:scale-110"
					style="background-image: url('/assets/graphic-design/federico-zalazar.jpg');"
				>
				</div>
			</div>
			<div class="relative group h-96 rounded-xl overflow-hidden shadow-sm">
				<div
					class="absolute inset-0 bg-center bg-cover transition-transform duration-500 group-hover:scale-110"
					style="background-image: url('/assets/graphic-design/mizar-techline.jpg');"
				>
				</div>
			</div>
			<div class="relative group h-96 rounded-xl overflow-hidden shadow-sm">
				<div
					class="absolute inset-0 bg-center bg-cover transition-transform duration-500 group-hover:scale-110"
					style="background-image: url('/assets/graphic-design/rumbo-design.jpg');"
				>
				</div>
			</div>
		</div>
	</div>
</section>
