---
import ServiceCard from "./ServiceCard.astro";

const serviceData = [
	{
		number: "01" as string,
		name: "Gestión de redes sociales" as string,
		description:
			"Creamos y administramos la presencia digital de tu marca en redes sociales. Nos encargamos de la planificación de contenidos, interacción con la comunidad y análisis de resultados para lograr mayor visibilidad, conexión y crecimiento real." as string,
		tags: ["Estrategia", "Contenido", "Análisis"] as string[],
	},
	{
		number: "02" as string,
		name: "Diseño Gráfico / Branding" as string,
		description:
			"Diseñamos piezas visuales que reflejan la esencia de tu marca: desde logos e identidad hasta material gráfico digital e impreso, para lograr una imagen coherente, atractiva y profesional en todos los canales." as string,
		tags: ["Identidad visual", "Creatividad", "Branding"] as string[],
	},
	{
		number: "03" as string,
		name: "Pauta publicitaria" as string,
		description:
			"Optimizamos tus campañas digitales para que lleguen al público correcto en el momento indicado, convirtiendo tu inversión en resultados medibles y crecimiento real." as string,
		tags: ["Ads", "Segmentación", "Conversión"] as string[],
	},
	{
		number: "04" as string,
		name: "Edición de videos" as string,
		description:
			"Convertimos tus ideas en videos creativos y dinámicos que aumentan la interacción y el alcance de tu marca." as string,
		tags: ["Creatividad", "Edición PRO", "Formatos digitales"] as string[],
	},
	{
		number: "05" as string,
		name: "Fotografía profesional" as string,
		description:
			"Capturamos la mejor imagen de tu negocio, productos y equipo con un enfoque profesional y estético. Generamos contenido visual que transmite confianza y potencia tu presencia digital." as string,
		tags: ["Producto", "Estilo", "Retratos"] as string[],
	},
	{
		number: "06" as string,
		name: "Diseño de páginas web" as string,
		description:
			"Desarrollamos sitios web modernos, funcionales y adaptados a tu marca. Diseños responsivos, fáciles de navegar y optimizados para que tus clientes te encuentren y se conecten con vos." as string,
		tags: ["UX/UI", "Responsive", "Rendimiento"] as string[],
	},
];
---

<section id="our-services" class="bg-[#EDE8E3]">
	<div
		class="flex flex-col justify-center items-start bg-[#EDE8E3] max-w-[1200px] mx-auto p-10"
	>
		<div>
			<h3 class="text-4xl md:text-5xl lg:text-6xl text-[#774F4F] font-archive">
				NUESTROS SERVICIOS
			</h3>
			<p class="text-lg sm:text-xl md:text-2xl font-arialnova text-[#774F4F]">
				Conocé todo lo que podemos ofrecerte para que tu marca crezca sin
				límites
			</p>
		</div>
		<div class="mt-10">
			{
				serviceData.map((service) => (
					<ServiceCard
						serviceNumber={service.number}
						serviceName={service.name}
						serviceDescription={service.description}
						serviceTags={service.tags}
					/>
				))
			}
		</div>
	</div>
</section>
